.figureNormalize{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background: #E0046C;
    background: linear-gradient(to top right, #E0046C 23%, #6610F2 100%);
    
}
.backgroundFilter{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}
.nav-item{
    display: flex;
    justify-content: center;
}
.nav-item a{ 
    padding: .5em;
    border-radius: .7em;
    text-align: center;
    color: #e0046c;
}
.nav-item a:hover {
    color: rgb(4, 108, 224);
    background-color: #e0046c;
    
}
.navSections{
    /* background-color: #000; */
}
.navbar{
    background-color: #000;
}
.finderContainer{
    /* padding: 1em; */
    background-color: transparent;
    display: flex;
}
.searchContainer input{
    max-width: 10em;
}
.cardsContainer{
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2em;
}
.card{
    background-color: #e6c329dd !important;
    border: none !important;
    border-radius: .8em !important;
}
.card img{
    border-radius: .7em;
}
.card-body{
    max-width: 30em;
}
.priceContainer{
    font-weight: bold;
    background-color: rgba(108, 157, 214, 0.283);
    display: inline-block !important;
    border-radius: 1em;
    padding: .5em;
}
.price{
    display: flex;
}
.btn{
    background-color: #e0046c !important;
    border: none !important;
}
.card:hover{
    box-shadow: -.01em .01em 1em .5em rgba(4,108,224,0.7);
    -webkit-box-shadow: -.01em .01em 1em .5em rgba(4,108,224,0.7);
    -moz-box-shadow: -.01em .01em 1em .5em rgba(4,108,224,0.7);
    transform: scale(1.05);
    transition: .5s;
    z-index: 200;

}
.cardDetail{
    background-color: #6610F2;
    border-radius: 1em;
    max-width: 30em;
    box-shadow: 0em 0em 2em .8em #e0046c;
}
.cardImg{
    max-width: 100%;
    height: 15em;
    object-fit: cover;
}
/* main{
    flex-grow: 1;
} */
.contacUs{
    background-color: #6610F2;
    border-radius: .5em;
    padding: .5em;
    
    
}
.contactForm{
    border-radius: .5em;
    border: .2em solid #e0046c;
    padding: 1em;
    color: #e0046c;
    text-align: center;
    width: 50%;
    min-width: 3em;
    box-shadow: 0 .5em 1em 0 #e0046c;
}
.contactForm label{
    padding: .5em;
}
.contactForm input{
    border-radius: .6em;
    border: none;
    border-bottom: .1em solid #e0046c;
    padding: .5em;
    background-color: #ffffff18;
}
textarea {
    resize: none !important;
    border-radius: .6em;
}

/* stats.html */
.contentTable{
    /* background-color: #6610F2; */
    background: linear-gradient(145deg, rgba(102,16,242,1) 0%, rgba(0,0,0,.1) 100%);
    box-shadow: 0 0 1em .2em #e0046c;
}
.footerContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width: 500px) {
    /* .searchContainer input{
        display: none;
    }
    .card img{
        flex-grow: 2 !important;
    }
    .card-body{
        flex-grow: 1 !important;
    } */
}